.search-results {
    border: 1px solid #d8dde6;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 4px;
    position: relative;
    z-index: 10;
}

.search-item {
    padding: 8px;
    cursor: pointer;
}

.search-item:hover {
    background-color: #f3f3f3;
}